<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./vendor/autoload.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd">
  <coverage includeUncoveredFiles="true">
    <report>
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
    </report>
  </coverage>
  <testsuite name="Test suite">
    <directory>./tests/</directory>
  </testsuite>
  <source>
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
    <exclude>
      <directory suffix="Test.php">./tests/</directory>
    </exclude>
  </source>
</phpunit>
